textarea {
  resize: none;

  overflow: hidden;

  /* One day this will just work™ in Firefox */
  field-sizing: content;
}

.textarea-sizer {
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";

    white-space: pre-wrap;

    visibility: hidden;
  }

  &::after, > textarea {
    border: none;

    padding: 1em 2rem;
    outline: none;
    font: inherit;

    grid-area: 1 / 1 / 2 / 2;
  }
}

.tags-wrapper {
  .tag {
    display: grid;
    grid-template-columns: max-content min-content;

    padding: 0 0 0 1ch;
    margin: 0 2px;

    border-radius: 100px;

    background: var(--highlight-color);
    color: var(--highlight-text-color);

    button {
      display: grid;
      align-items: center;
      justify-items: center;

      border-radius: 100px;
      aspect-ratio: 1;

      height: 1lh;

      padding: 0;

      margin-left: 0.5ch;

      svg {
        height: 80%;
      }

      background: var(--highlight-color);

      &:hover, &:focus, &:active {
        background: var(--header-bg);
        color: var(--header-text);
      }
    }

    &:first-child {
      margin-left: 1ch;
    }
  }
}
