header {
  width: 100%;

  font-size: 2em;

  border-bottom: 1px var(--highligh-color) solid;

  min-height: var(--main-border-radius);
}

input {
  border: none;
  width: 100%;

  background: none;

  text-align: center;

  /* TODO: Highlight active by growing bottom border */
  padding: .5em var(--main-border-radius) .25em var(--main-border-radius);
}

main {
  display: grid;
}

main::after {
  content: attr(data-replicated-value) " ";

  white-space: pre-wrap;

  visibility: hidden;
}

textarea {
  background: transparent;

  resize: none;

  overflow: hidden;

  /* One day this will just work™ in Firefox */
  field-sizing: content;
}

main > textarea,
main::after {
  border: none;

  padding: 1em var(--main-border-radius);
  outline: none;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}
