article {
  background: white;

  border-radius: var(--border-radius-size);

  overflow: hidden;

  border: 1px var(--header-bg) solid;

  cursor: pointer;

  &:hover {
    header {
      text-decoration: underline;
    }
  }
}

header {
  padding: .5em;
  font-weight: bold;

  text-align: center;
}

div {
  padding: .5em;
}

p {
  max-height: 4lh;

  mask-image: linear-gradient(black 3lh, transparent);

  overflow-wrap: break-word;

  overflow: hidden;
}
