nav {
  height: 100%;

  backdrop-filter: blur(5px);

  border-right: 1px var(--border-color) solid;
  margin-right: 5em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;

  /* TODO: Overflows */
}

article {
  background: white;

  padding: .5em;
  border-radius: 1em;

  max-height: 8em;
  overflow-y: hidden;
}

h4 {
  text-align: center;
}
