article {
  background: white;

  padding: .5em;
  border-radius: 1em;

  max-height: 8em;
  overflow-y: hidden;

  border: 1px var(--highligh-color) solid;

  cursor: pointer;
}

h4 {
  text-align: center;
}
