.layout {
  display: grid;

  grid-template-columns: 20% 60% 20%;
  grid-template-rows: min-content 1fr;

  background-image: url("/galaxy.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  min-height: 100vh;
}

header {
  grid-column: 1 / -1;

  text-align: center;
  font-size: 2.4em;

  background: transparent;
  backdrop-filter: blur(5px);

  border-bottom: 1px var(--border-color) solid;
}
