nav {
  min-height: 100%;

  backdrop-filter: blur(5px);

  border-right: 1px var(--border-color) solid;
  margin-right: 5em;
}

h2 {
  text-align: center;
  padding: .5em 0;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
}

button {
  display: flex;
  justify-content: center;

  padding: .5em 0;
  border: none;
  border-radius: var(--border-radius-size);

  font-weight: bold;
}
