@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", "sans-serif";
}

:root {
  --border-color: black;

  --highlight-text-color: white;
  --highligh-color: mediumpurple;

  --text-color: black;
  --text-color-inactive: #444;

  --header-bg: purple;
  --header-text: white;
  --header-text-inactive: #ccc;

  --border-radius-size: 10px;
}

.header-color {
  color: var(--header-text);
  background-color: var(--header-bg);
}

.main-wrapper {
  background: white;

  margin: 5em 2em;

  border-radius: var(--border-radius-size);
  overflow: hidden;

  align-self: start;

  header {
    width: 100%;


    h1, input {
      padding: .25rem 1rem;

      font-weight: normal;
      font-size: 2.4em;

      text-align: center;
    }

    input {
      border: none;
      background: none;

      color: var(--header-text-inactive);

      width: 100%;

      &:focus {
        color: var(--header-text);
      }
    }
  }

  .toolbar {
    display: flex;

    height: 2.4em;

    background: #eee;

    border-bottom: 1px solid var(--highligh-color);

    input {
      height: 100%;

      padding: 0 2ch 0 1ch;

      border: 0;

      flex: 1;
    }

    &:focus-within {
      background: #ddd;
    }

    button {
      background: #ddd;

      border: 0;

      padding: 0 1ch;

      &:hover, &:focus, &:active {
        background: var(--highligh-color);
        color: white;
      }
    }
  }
}

.input-bottom-border-wrapper {
  display: flex;

  flex: 1;
  align-items: baseline;

  $border-width: 3px;

  &:focus-within {
    border-bottom: $border-width solid var(--highligh-color);

    input {
      padding-top: $border-width;
    }
  }
}

input {
  outline: none;
  background: none;
}

a {
  text-decoration: unset;

  color: unset;

  &:hover {
    text-decoration: underline;
  }
}
